/* TODO */
body {
	height: 95vh;
	overflow: hidden;
	color: white;
	font-family: system-ui;
	font-size: 25px;
	display: flex;
	margin-top: 1.75em;
	background: #203a63;
}
.nav { margin-right: .5em; width: 20px;
	transition: width 0.5s;
}
#hamburger { position: fixed; top: 1.75em; }
#menu {
	height: 100%;
	background: red;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 160px;
	left: 0;
	transform: translateX(-160px);
	transition: transform 0.5s;
}
.nav.open { width: 160px; }
#menu.open {
	transform: translateX(0);
}
.dat-contain {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin-right: 0;
	transition: margin-right 0.5s;
}
.dat-contain.pushed {
	margin-right: -160px;
}
.dats-dat {
	background-color:#88598A;
	background-image: linear-gradient(to bottom, #A34378, #5075A4, #2E5A95);
	flex: 1;
	border-radius: 1em;
}
ul {
	list-style: none;
}
.dat-contain ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding: 0; margin: 0;
	margin-bottom: .5em;
}
.dat-contain ul li {
	flex: 1;
	background: #cc455a;
	text-align: center;
	font-size: 0.7em;
}
.dat-contain ul li:hover {
	filter: hue-rotate(25deg) saturate(1.75);
}
.dat-contain ul li:first-child {
	background: #329096;
	border-bottom-left-radius: 0.5em;
}
.dat-contain ul li:last-child {
	background: #c7979e;
	border-bottom-right-radius: 0.5em;
}

.dat-contain ul li:not(.active) {
	filter: saturate(0);
	opacity: .5;
}
.dat-contain ul li:not(.active):hover {
	filter: none;
	opacity: 1;
}

ul li a {
	text-decoration: none;
	color: white;
	display: flex;
	align-items: center;
}

ul li i {
	font-size: 2em;
}

iframe {
	border: 0;
	width: 100%;
	height: 100%;
	border-radius: 1em;
}

#menu-items {
	margin-top: 2.5em;
	padding-left: .1em;
	font-size: 1em
}
#menu-items li {
	transition: opacity 0.25s;
	opacity: 0;
	white-space: nowrap;
}
.open #menu-items li {
	transition: opacity 1s;
	opacity: 1;
}
