/* TODO */
body {
	height: 95vh;
	overflow: hidden;
	color: white;
	font-family: system-ui;
	font-size: 25px;
	display: flex;
/* 	margin-top: 1.75em; */
	background: #203a63;
}
.nav { margin-right: .5em}
.dat-contain {
	flex: 1;
	display: flex;
	flex-direction: column;
}
.dats-dat {
	background-color:#88598A;
	background-image: linear-gradient(to bottom, #A34378, #5075A4, #2E5A95);
	flex: 1;
}

ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding: 0; margin: 0;
	margin-bottom: .5em;
}

ul li {
	flex: 1;
	background: #cc455a;
	text-align: center;
	font-size: 0.7em;
}

ul li:first-child {
	background: #329096;
	border-bottom-left-radius: 0.5em;
}
ul li:last-child {
	background: #c7979e;
}



ul li a {
	text-decoration: none;
	color: white;
	display: flex;
	align-items: center;
}

ul li i {
	font-size: 2em;
}

iframe {
	border; 0;
	width: 100%;
	height: 100%;
}
